.section__title {
    max-width: 460px;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 60px 0 50px;
    grid-column: 1;
    grid-row: 1;
}

@media screen and (max-width: 899px) {
    .section__title {
        font-size: 32px;
        line-height: 40px;
        padding: 40px 0 40px;
        grid-column: 1;
        grid-row: 1;
    }
}