.training__article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px;
    width: 100%;
    column-gap: 160px;
    box-sizing: border-box;
    margin: 0;
    padding: 150px 0 0 0;
}

@media screen and (max-width: 899px) {
    .training__article {
        grid-template-rows: 40px;
        gap: 40px;
        padding: 0 0 60px 0;
    }
}