.gallery__menu {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin: 0;
    padding: 92px 0 0 0;
}

@media screen and (max-width: 899px) {
    .gallery__menu {
        display: none;
        visibility: hidden;
    }
}