.gallery__item {
    font-size: 18px;
    line-height: 128.53%;
    font-weight: 400;
    opacity: 70%;
    margin: 0;
}

@media screen and (max-width: 899px) {
    .gallery__item {
        font-size: 11px;
        line-height: 105.16%;
    }
}