.gallery-mobile__menu {
  border: rgba(227, 227, 227, 1);
  background-color: transparent;
  max-width: 114px;
  box-shadow: -20px 60px 220px 0 rgba(0, 0, 0, 0.44);
}

@media screen and (min-width: 900px) {
  .gallery-mobile__menu {
    display: none;
    visibility: hidden;
  }
}