.gallery-mobile__menu {
  border: 1px solid rgba(227, 227, 227, 1);
  background-color: transparent;
  max-width: 114px;
}

@media screen and (min-width: 900px) {
  .gallery-mobile__menu {
    display: none;
    visibility: hidden;
  }
}