.footer__copyright {
    font-size: 14px;
    line-height: 116%;
    color: rgba(207, 207, 207, 1);
    margin: 0;
}

@media screen and (max-width: 899px) {
    .footer__copyright {
        margin: 0 0 25px 0;
    }
}