.menu__toggle {
    opacity: 0;
}
.menu__toggle:checked + .menu__button > .menu__span {
    transform: rotate(45deg);
}
.menu__toggle:checked + .menu__button > .menu__span::before {
    top: 0;
    transform: rotate(0deg);
}
.menu__toggle:checked + .menu__button > .menu__span::after {
    top: 0;
    transform: rotate(90deg);
}
.menu__toggle:checked ~ .menu__box {
    right: 0;
}