.quote__subline {
    font-size: 16px;
    line-height: 144.6%;
    font-weight: 400;
    opacity: 70%;
    margin: 6px 0 0 0;
}

@media screen and (max-width: 899px) {
    .quote__subline {
        font-size: 10px;
        line-height: 132.21%;
        margin: 4px 0 0 0;
    }
}