.gallery-mobile__label {
  position: absolute;
  left: 50%;
  bottom: -30px;
  z-index: 100;
  width: 15px;
  height: 15px;
  background: #222;
  cursor: pointer;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  border-radius: 50px;
  border: 1px solid #6b6969;
}

@media screen and (min-width: 900px) {
  .gallery-mobile__label {
    display: none;
    visibility: hidden;
  }
}