.training {
    padding: 0 120px 0 120px;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 899px) {
    .training {
        padding: 0;
        border-top: 1px solid #E3E3E3;
    }
}