.gallery__header {
    display: flex;
    margin: 0 120px 0 120px;
    padding: 60px 0 0 0;
    justify-content: space-between;
}

@media screen and (max-width: 899px) {
    .gallery__header {
        margin: 0 18px 34.95px 0;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
    }
}