.gallery-mobile__dot {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  visibility: hidden;
}

@media screen and (min-width: 900px) {
  .gallery-mobile__dot {
    display: none;
    visibility: hidden;
  }
}