.gallery-mobile__dot {
  color: rgba(202, 202, 202, 1);
  cursor: pointer;
  display: block;
  font-size: 10px;
}

.gallery-mobile__dot:hover {
  color: rgba(21, 21, 21, 1);
}

.gallery-mobile__dot:checked {
  color: rgba(21, 21, 21, 1);
}

@media screen and (min-width: 900px) {
  .gallery-mobile__dot {
    display: none;
    visibility: hidden;
  }
}