.gallery-mobile__list {
  position: relative;
  overflow: hidden;
  list-style-type: none;
  padding: 34.95px 14.95px 0 14.95px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .gallery-mobile__list {
    display: none;
    visibility: hidden;
  }
}